*~
.DS_Store
*.pyc
fcc*.h
form*.h
#*#
*.aux
*.log
*.pdf
report.pdf

/#pngtrace.py#
/#shapematch.py#
/.#pngtrace.py
/.#shapematch.py
/ffc_form_ea788cae5b5ea3d1f4636a2876da4cfeb02f89e6.h
/report/#report.tex#
/report/.#report.tex
